<h1>Eat-Da-Burger</h1>

<form id="createplan" class="button-size">
  <textarea type="text" name="newBurger"></textarea>
  <button type="submit">Submit</button>
</form>
<p>Enter a burger you want to eat, click the submit button.</p>